.bloque {
    display: flex;
    flex-direction: column;

    .title-ranking {
        font-size: $font-size-h1;
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: center;
        color: $color-sidonia-orange;
        background-color: $color-less-is-less;
    }

    .ranking-container {
        order: 1;
        display: flex;
        flex-direction: column;

        @include if-desktop {
            flex-direction: row;
        }

        .album-item {
            display: flex;
            flex-direction: column;
            height: 800px;
            align-items: center;
            justify-content: space-around;

            @include if-mobile-landscape {
                height: 550px;
                flex-direction: row;
            }

            @include if-desktop {
                flex-direction: column;
                height: 900px;
            }
    
            .informacion {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;

                @include if-mobile-landscape {
                    width: 40%;
                }

                @include if-desktop {
                    width: 80%;
                }

                .nombre {
                    font-size: $font-size-h3;
                    padding-bottom: 30px;
                    font-family: $title-font-family;
                }

                .ventas {
                    font-size: $font-size-h5;
                    color: $color-amazing-39;
                }
                
                .texto {
                    padding-bottom: 20px;
                    font-size: $font-size-base;
                    line-height: 1.7em;
                }
            }

            .img-ranking {
                height: 300px;

                @include if-mobile-landscape {
                    height: 350px;
                }

                @include if-desktop {
                    height: 300px;
                }

            }

            &.uno {
                background-color: transparentize($color-sidonia-orange, 0.7);

                @include if-desktop {
                    order: 2;
                    flex: 10;
            
                }
                img {
                    @include if-desktop {
                        order: -1;
                        
                    }
                }
            }
    
            &.dos {
                background-color: transparentize($color-silver, 0.2);

                @include if-desktop {
                    order: 1;
                    flex: 7;
                }

                img {
                    @include if-mobile-landscape {
                        order: 1;
                        
                    }
                }
            }
    
            &.tres {
                background-color: transparentize($color-amazing-39, 0.7);

                @include if-desktop {
                    order: 3;
                    flex: 7;
                }
            }
            
        }

        
    }
}